<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marvels.dao.XyqbRepayPlanLmpmshdMapper">
  <resultMap id="BaseResultMap" type="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshd">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="psPerdNo" jdbcType="VARCHAR" property="psPerdNo" />
    <result column="psDueDt" jdbcType="VARCHAR" property="psDueDt" />
    <result column="psPrcpAmt" jdbcType="DECIMAL" property="psPrcpAmt" />
    <result column="psNormInt" jdbcType="DECIMAL" property="psNormInt" />
    <result column="psOdIntAmt" jdbcType="DECIMAL" property="psOdIntAmt" />
    <result column="psCommOdInt" jdbcType="DECIMAL" property="psCommOdInt" />
    <result column="psFeeAmt" jdbcType="DECIMAL" property="psFeeAmt" />
    <result column="setlPrcp" jdbcType="DECIMAL" property="setlPrcp" />
    <result column="setlNormInt" jdbcType="DECIMAL" property="setlNormInt" />
    <result column="setlOdIntAmt" jdbcType="DECIMAL" property="setlOdIntAmt" />
    <result column="setlCommOdInt" jdbcType="DECIMAL" property="setlCommOdInt" />
    <result column="setlFeeAmt" jdbcType="DECIMAL" property="setlFeeAmt" />
    <result column="setlInd" jdbcType="VARCHAR" property="setlInd" />
    <result column="psOdInd" jdbcType="VARCHAR" property="psOdInd" />
    <result column="lastSetlDt" jdbcType="VARCHAR" property="lastSetlDt" />
    <result column="psIntRate" jdbcType="DECIMAL" property="psIntRate" />
    <result column="psOdIntRate" jdbcType="DECIMAL" property="psOdIntRate" />
    <result column="psRemPrcp" jdbcType="DECIMAL" property="psRemPrcp" />
    <result column="acctFeeAmt" jdbcType="DECIMAL" property="acctFeeAmt" />
    <result column="setlAcctFeeAmt" jdbcType="DECIMAL" property="setlAcctFeeAmt" />
    <result column="penalFeeAmt" jdbcType="DECIMAL" property="penalFeeAmt" />
    <result column="setlPenalFeeAmt" jdbcType="DECIMAL" property="setlPenalFeeAmt" />
    <result column="lateFeeAmt" jdbcType="DECIMAL" property="lateFeeAmt" />
    <result column="setlLateFeeAmt" jdbcType="DECIMAL" property="setlLateFeeAmt" />
    <result column="psInstmAmt" jdbcType="DECIMAL" property="psInstmAmt" />
    <result column="advanceFeeAmt" jdbcType="DECIMAL" property="advanceFeeAmt" />
    <result column="setlAdvanceFeeAmt" jdbcType="DECIMAL" property="setlAdvanceFeeAmt" />
    <result column="psWvNmInt" jdbcType="DECIMAL" property="psWvNmInt" />
    <result column="psWvOdInt" jdbcType="DECIMAL" property="psWvOdInt" />
    <result column="psWvCommInt" jdbcType="DECIMAL" property="psWvCommInt" />
    <result column="plan_result_id" jdbcType="VARCHAR" property="plan_result_id" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creation_date" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
    <result column="created_by" jdbcType="VARCHAR" property="created_by" />
    <result column="updated_by" jdbcType="VARCHAR" property="updated_by" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, psPerdNo, psDueDt, psPrcpAmt, psNormInt, psOdIntAmt, psCommOdInt, psFeeAmt, setlPrcp, 
    setlNormInt, setlOdIntAmt, setlCommOdInt, setlFeeAmt, setlInd, psOdInd, lastSetlDt, 
    psIntRate, psOdIntRate, psRemPrcp, acctFeeAmt, setlAcctFeeAmt, penalFeeAmt, setlPenalFeeAmt, 
    lateFeeAmt, setlLateFeeAmt, psInstmAmt, advanceFeeAmt, setlAdvanceFeeAmt, psWvNmInt, 
    psWvOdInt, psWvCommInt, plan_result_id, creation_date, update_date, created_by, updated_by, 
    version
  </sql>
  <select id="selectByExample" parameterType="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xyqb_repay_plan_lmpmshd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyqb_repay_plan_lmpmshd
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from xyqb_repay_plan_lmpmshd
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshdExample">
    delete from xyqb_repay_plan_lmpmshd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshd">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xyqb_repay_plan_lmpmshd (psPerdNo, psDueDt, psPrcpAmt, 
      psNormInt, psOdIntAmt, psCommOdInt, 
      psFeeAmt, setlPrcp, setlNormInt, 
      setlOdIntAmt, setlCommOdInt, setlFeeAmt, 
      setlInd, psOdInd, lastSetlDt, 
      psIntRate, psOdIntRate, psRemPrcp, 
      acctFeeAmt, setlAcctFeeAmt, penalFeeAmt, 
      setlPenalFeeAmt, lateFeeAmt, setlLateFeeAmt, 
      psInstmAmt, advanceFeeAmt, setlAdvanceFeeAmt, 
      psWvNmInt, psWvOdInt, psWvCommInt, 
      plan_result_id, creation_date, update_date, 
      created_by, updated_by, version
      )
    values (#{psPerdNo,jdbcType=VARCHAR}, #{psDueDt,jdbcType=VARCHAR}, #{psPrcpAmt,jdbcType=DECIMAL}, 
      #{psNormInt,jdbcType=DECIMAL}, #{psOdIntAmt,jdbcType=DECIMAL}, #{psCommOdInt,jdbcType=DECIMAL}, 
      #{psFeeAmt,jdbcType=DECIMAL}, #{setlPrcp,jdbcType=DECIMAL}, #{setlNormInt,jdbcType=DECIMAL}, 
      #{setlOdIntAmt,jdbcType=DECIMAL}, #{setlCommOdInt,jdbcType=DECIMAL}, #{setlFeeAmt,jdbcType=DECIMAL}, 
      #{setlInd,jdbcType=VARCHAR}, #{psOdInd,jdbcType=VARCHAR}, #{lastSetlDt,jdbcType=VARCHAR}, 
      #{psIntRate,jdbcType=DECIMAL}, #{psOdIntRate,jdbcType=DECIMAL}, #{psRemPrcp,jdbcType=DECIMAL}, 
      #{acctFeeAmt,jdbcType=DECIMAL}, #{setlAcctFeeAmt,jdbcType=DECIMAL}, #{penalFeeAmt,jdbcType=DECIMAL}, 
      #{setlPenalFeeAmt,jdbcType=DECIMAL}, #{lateFeeAmt,jdbcType=DECIMAL}, #{setlLateFeeAmt,jdbcType=DECIMAL}, 
      #{psInstmAmt,jdbcType=DECIMAL}, #{advanceFeeAmt,jdbcType=DECIMAL}, #{setlAdvanceFeeAmt,jdbcType=DECIMAL}, 
      #{psWvNmInt,jdbcType=DECIMAL}, #{psWvOdInt,jdbcType=DECIMAL}, #{psWvCommInt,jdbcType=DECIMAL}, 
      #{plan_result_id,jdbcType=VARCHAR}, #{creation_date,jdbcType=TIMESTAMP}, #{update_date,jdbcType=TIMESTAMP}, 
      #{created_by,jdbcType=VARCHAR}, #{updated_by,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshd">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xyqb_repay_plan_lmpmshd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="psPerdNo != null">
        psPerdNo,
      </if>
      <if test="psDueDt != null">
        psDueDt,
      </if>
      <if test="psPrcpAmt != null">
        psPrcpAmt,
      </if>
      <if test="psNormInt != null">
        psNormInt,
      </if>
      <if test="psOdIntAmt != null">
        psOdIntAmt,
      </if>
      <if test="psCommOdInt != null">
        psCommOdInt,
      </if>
      <if test="psFeeAmt != null">
        psFeeAmt,
      </if>
      <if test="setlPrcp != null">
        setlPrcp,
      </if>
      <if test="setlNormInt != null">
        setlNormInt,
      </if>
      <if test="setlOdIntAmt != null">
        setlOdIntAmt,
      </if>
      <if test="setlCommOdInt != null">
        setlCommOdInt,
      </if>
      <if test="setlFeeAmt != null">
        setlFeeAmt,
      </if>
      <if test="setlInd != null">
        setlInd,
      </if>
      <if test="psOdInd != null">
        psOdInd,
      </if>
      <if test="lastSetlDt != null">
        lastSetlDt,
      </if>
      <if test="psIntRate != null">
        psIntRate,
      </if>
      <if test="psOdIntRate != null">
        psOdIntRate,
      </if>
      <if test="psRemPrcp != null">
        psRemPrcp,
      </if>
      <if test="acctFeeAmt != null">
        acctFeeAmt,
      </if>
      <if test="setlAcctFeeAmt != null">
        setlAcctFeeAmt,
      </if>
      <if test="penalFeeAmt != null">
        penalFeeAmt,
      </if>
      <if test="setlPenalFeeAmt != null">
        setlPenalFeeAmt,
      </if>
      <if test="lateFeeAmt != null">
        lateFeeAmt,
      </if>
      <if test="setlLateFeeAmt != null">
        setlLateFeeAmt,
      </if>
      <if test="psInstmAmt != null">
        psInstmAmt,
      </if>
      <if test="advanceFeeAmt != null">
        advanceFeeAmt,
      </if>
      <if test="setlAdvanceFeeAmt != null">
        setlAdvanceFeeAmt,
      </if>
      <if test="psWvNmInt != null">
        psWvNmInt,
      </if>
      <if test="psWvOdInt != null">
        psWvOdInt,
      </if>
      <if test="psWvCommInt != null">
        psWvCommInt,
      </if>
      <if test="plan_result_id != null">
        plan_result_id,
      </if>
      <if test="creation_date != null">
        creation_date,
      </if>
      <if test="update_date != null">
        update_date,
      </if>
      <if test="created_by != null">
        created_by,
      </if>
      <if test="updated_by != null">
        updated_by,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="psPerdNo != null">
        #{psPerdNo,jdbcType=VARCHAR},
      </if>
      <if test="psDueDt != null">
        #{psDueDt,jdbcType=VARCHAR},
      </if>
      <if test="psPrcpAmt != null">
        #{psPrcpAmt,jdbcType=DECIMAL},
      </if>
      <if test="psNormInt != null">
        #{psNormInt,jdbcType=DECIMAL},
      </if>
      <if test="psOdIntAmt != null">
        #{psOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="psCommOdInt != null">
        #{psCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="psFeeAmt != null">
        #{psFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlPrcp != null">
        #{setlPrcp,jdbcType=DECIMAL},
      </if>
      <if test="setlNormInt != null">
        #{setlNormInt,jdbcType=DECIMAL},
      </if>
      <if test="setlOdIntAmt != null">
        #{setlOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlCommOdInt != null">
        #{setlCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="setlFeeAmt != null">
        #{setlFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlInd != null">
        #{setlInd,jdbcType=VARCHAR},
      </if>
      <if test="psOdInd != null">
        #{psOdInd,jdbcType=VARCHAR},
      </if>
      <if test="lastSetlDt != null">
        #{lastSetlDt,jdbcType=VARCHAR},
      </if>
      <if test="psIntRate != null">
        #{psIntRate,jdbcType=DECIMAL},
      </if>
      <if test="psOdIntRate != null">
        #{psOdIntRate,jdbcType=DECIMAL},
      </if>
      <if test="psRemPrcp != null">
        #{psRemPrcp,jdbcType=DECIMAL},
      </if>
      <if test="acctFeeAmt != null">
        #{acctFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlAcctFeeAmt != null">
        #{setlAcctFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="penalFeeAmt != null">
        #{penalFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlPenalFeeAmt != null">
        #{setlPenalFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lateFeeAmt != null">
        #{lateFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlLateFeeAmt != null">
        #{setlLateFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="psInstmAmt != null">
        #{psInstmAmt,jdbcType=DECIMAL},
      </if>
      <if test="advanceFeeAmt != null">
        #{advanceFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlAdvanceFeeAmt != null">
        #{setlAdvanceFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="psWvNmInt != null">
        #{psWvNmInt,jdbcType=DECIMAL},
      </if>
      <if test="psWvOdInt != null">
        #{psWvOdInt,jdbcType=DECIMAL},
      </if>
      <if test="psWvCommInt != null">
        #{psWvCommInt,jdbcType=DECIMAL},
      </if>
      <if test="plan_result_id != null">
        #{plan_result_id,jdbcType=VARCHAR},
      </if>
      <if test="creation_date != null">
        #{creation_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_date != null">
        #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="created_by != null">
        #{created_by,jdbcType=VARCHAR},
      </if>
      <if test="updated_by != null">
        #{updated_by,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshdExample" resultType="java.lang.Long">
    select count(*) from xyqb_repay_plan_lmpmshd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xyqb_repay_plan_lmpmshd
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.psPerdNo != null">
        psPerdNo = #{record.psPerdNo,jdbcType=VARCHAR},
      </if>
      <if test="record.psDueDt != null">
        psDueDt = #{record.psDueDt,jdbcType=VARCHAR},
      </if>
      <if test="record.psPrcpAmt != null">
        psPrcpAmt = #{record.psPrcpAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.psNormInt != null">
        psNormInt = #{record.psNormInt,jdbcType=DECIMAL},
      </if>
      <if test="record.psOdIntAmt != null">
        psOdIntAmt = #{record.psOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.psCommOdInt != null">
        psCommOdInt = #{record.psCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="record.psFeeAmt != null">
        psFeeAmt = #{record.psFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlPrcp != null">
        setlPrcp = #{record.setlPrcp,jdbcType=DECIMAL},
      </if>
      <if test="record.setlNormInt != null">
        setlNormInt = #{record.setlNormInt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlOdIntAmt != null">
        setlOdIntAmt = #{record.setlOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlCommOdInt != null">
        setlCommOdInt = #{record.setlCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlFeeAmt != null">
        setlFeeAmt = #{record.setlFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlInd != null">
        setlInd = #{record.setlInd,jdbcType=VARCHAR},
      </if>
      <if test="record.psOdInd != null">
        psOdInd = #{record.psOdInd,jdbcType=VARCHAR},
      </if>
      <if test="record.lastSetlDt != null">
        lastSetlDt = #{record.lastSetlDt,jdbcType=VARCHAR},
      </if>
      <if test="record.psIntRate != null">
        psIntRate = #{record.psIntRate,jdbcType=DECIMAL},
      </if>
      <if test="record.psOdIntRate != null">
        psOdIntRate = #{record.psOdIntRate,jdbcType=DECIMAL},
      </if>
      <if test="record.psRemPrcp != null">
        psRemPrcp = #{record.psRemPrcp,jdbcType=DECIMAL},
      </if>
      <if test="record.acctFeeAmt != null">
        acctFeeAmt = #{record.acctFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlAcctFeeAmt != null">
        setlAcctFeeAmt = #{record.setlAcctFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.penalFeeAmt != null">
        penalFeeAmt = #{record.penalFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlPenalFeeAmt != null">
        setlPenalFeeAmt = #{record.setlPenalFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.lateFeeAmt != null">
        lateFeeAmt = #{record.lateFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlLateFeeAmt != null">
        setlLateFeeAmt = #{record.setlLateFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.psInstmAmt != null">
        psInstmAmt = #{record.psInstmAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.advanceFeeAmt != null">
        advanceFeeAmt = #{record.advanceFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.setlAdvanceFeeAmt != null">
        setlAdvanceFeeAmt = #{record.setlAdvanceFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.psWvNmInt != null">
        psWvNmInt = #{record.psWvNmInt,jdbcType=DECIMAL},
      </if>
      <if test="record.psWvOdInt != null">
        psWvOdInt = #{record.psWvOdInt,jdbcType=DECIMAL},
      </if>
      <if test="record.psWvCommInt != null">
        psWvCommInt = #{record.psWvCommInt,jdbcType=DECIMAL},
      </if>
      <if test="record.plan_result_id != null">
        plan_result_id = #{record.plan_result_id,jdbcType=VARCHAR},
      </if>
      <if test="record.creation_date != null">
        creation_date = #{record.creation_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_date != null">
        update_date = #{record.update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.created_by != null">
        created_by = #{record.created_by,jdbcType=VARCHAR},
      </if>
      <if test="record.updated_by != null">
        updated_by = #{record.updated_by,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xyqb_repay_plan_lmpmshd
    set id = #{record.id,jdbcType=BIGINT},
      psPerdNo = #{record.psPerdNo,jdbcType=VARCHAR},
      psDueDt = #{record.psDueDt,jdbcType=VARCHAR},
      psPrcpAmt = #{record.psPrcpAmt,jdbcType=DECIMAL},
      psNormInt = #{record.psNormInt,jdbcType=DECIMAL},
      psOdIntAmt = #{record.psOdIntAmt,jdbcType=DECIMAL},
      psCommOdInt = #{record.psCommOdInt,jdbcType=DECIMAL},
      psFeeAmt = #{record.psFeeAmt,jdbcType=DECIMAL},
      setlPrcp = #{record.setlPrcp,jdbcType=DECIMAL},
      setlNormInt = #{record.setlNormInt,jdbcType=DECIMAL},
      setlOdIntAmt = #{record.setlOdIntAmt,jdbcType=DECIMAL},
      setlCommOdInt = #{record.setlCommOdInt,jdbcType=DECIMAL},
      setlFeeAmt = #{record.setlFeeAmt,jdbcType=DECIMAL},
      setlInd = #{record.setlInd,jdbcType=VARCHAR},
      psOdInd = #{record.psOdInd,jdbcType=VARCHAR},
      lastSetlDt = #{record.lastSetlDt,jdbcType=VARCHAR},
      psIntRate = #{record.psIntRate,jdbcType=DECIMAL},
      psOdIntRate = #{record.psOdIntRate,jdbcType=DECIMAL},
      psRemPrcp = #{record.psRemPrcp,jdbcType=DECIMAL},
      acctFeeAmt = #{record.acctFeeAmt,jdbcType=DECIMAL},
      setlAcctFeeAmt = #{record.setlAcctFeeAmt,jdbcType=DECIMAL},
      penalFeeAmt = #{record.penalFeeAmt,jdbcType=DECIMAL},
      setlPenalFeeAmt = #{record.setlPenalFeeAmt,jdbcType=DECIMAL},
      lateFeeAmt = #{record.lateFeeAmt,jdbcType=DECIMAL},
      setlLateFeeAmt = #{record.setlLateFeeAmt,jdbcType=DECIMAL},
      psInstmAmt = #{record.psInstmAmt,jdbcType=DECIMAL},
      advanceFeeAmt = #{record.advanceFeeAmt,jdbcType=DECIMAL},
      setlAdvanceFeeAmt = #{record.setlAdvanceFeeAmt,jdbcType=DECIMAL},
      psWvNmInt = #{record.psWvNmInt,jdbcType=DECIMAL},
      psWvOdInt = #{record.psWvOdInt,jdbcType=DECIMAL},
      psWvCommInt = #{record.psWvCommInt,jdbcType=DECIMAL},
      plan_result_id = #{record.plan_result_id,jdbcType=VARCHAR},
      creation_date = #{record.creation_date,jdbcType=TIMESTAMP},
      update_date = #{record.update_date,jdbcType=TIMESTAMP},
      created_by = #{record.created_by,jdbcType=VARCHAR},
      updated_by = #{record.updated_by,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshd">
    update xyqb_repay_plan_lmpmshd
    <set>
      <if test="psPerdNo != null">
        psPerdNo = #{psPerdNo,jdbcType=VARCHAR},
      </if>
      <if test="psDueDt != null">
        psDueDt = #{psDueDt,jdbcType=VARCHAR},
      </if>
      <if test="psPrcpAmt != null">
        psPrcpAmt = #{psPrcpAmt,jdbcType=DECIMAL},
      </if>
      <if test="psNormInt != null">
        psNormInt = #{psNormInt,jdbcType=DECIMAL},
      </if>
      <if test="psOdIntAmt != null">
        psOdIntAmt = #{psOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="psCommOdInt != null">
        psCommOdInt = #{psCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="psFeeAmt != null">
        psFeeAmt = #{psFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlPrcp != null">
        setlPrcp = #{setlPrcp,jdbcType=DECIMAL},
      </if>
      <if test="setlNormInt != null">
        setlNormInt = #{setlNormInt,jdbcType=DECIMAL},
      </if>
      <if test="setlOdIntAmt != null">
        setlOdIntAmt = #{setlOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlCommOdInt != null">
        setlCommOdInt = #{setlCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="setlFeeAmt != null">
        setlFeeAmt = #{setlFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlInd != null">
        setlInd = #{setlInd,jdbcType=VARCHAR},
      </if>
      <if test="psOdInd != null">
        psOdInd = #{psOdInd,jdbcType=VARCHAR},
      </if>
      <if test="lastSetlDt != null">
        lastSetlDt = #{lastSetlDt,jdbcType=VARCHAR},
      </if>
      <if test="psIntRate != null">
        psIntRate = #{psIntRate,jdbcType=DECIMAL},
      </if>
      <if test="psOdIntRate != null">
        psOdIntRate = #{psOdIntRate,jdbcType=DECIMAL},
      </if>
      <if test="psRemPrcp != null">
        psRemPrcp = #{psRemPrcp,jdbcType=DECIMAL},
      </if>
      <if test="acctFeeAmt != null">
        acctFeeAmt = #{acctFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlAcctFeeAmt != null">
        setlAcctFeeAmt = #{setlAcctFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="penalFeeAmt != null">
        penalFeeAmt = #{penalFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlPenalFeeAmt != null">
        setlPenalFeeAmt = #{setlPenalFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lateFeeAmt != null">
        lateFeeAmt = #{lateFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlLateFeeAmt != null">
        setlLateFeeAmt = #{setlLateFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="psInstmAmt != null">
        psInstmAmt = #{psInstmAmt,jdbcType=DECIMAL},
      </if>
      <if test="advanceFeeAmt != null">
        advanceFeeAmt = #{advanceFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="setlAdvanceFeeAmt != null">
        setlAdvanceFeeAmt = #{setlAdvanceFeeAmt,jdbcType=DECIMAL},
      </if>
      <if test="psWvNmInt != null">
        psWvNmInt = #{psWvNmInt,jdbcType=DECIMAL},
      </if>
      <if test="psWvOdInt != null">
        psWvOdInt = #{psWvOdInt,jdbcType=DECIMAL},
      </if>
      <if test="psWvCommInt != null">
        psWvCommInt = #{psWvCommInt,jdbcType=DECIMAL},
      </if>
      <if test="plan_result_id != null">
        plan_result_id = #{plan_result_id,jdbcType=VARCHAR},
      </if>
      <if test="creation_date != null">
        creation_date = #{creation_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_date != null">
        update_date = #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="created_by != null">
        created_by = #{created_by,jdbcType=VARCHAR},
      </if>
      <if test="updated_by != null">
        updated_by = #{updated_by,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marvels.dto.hexj.entity.XyqbRepayPlanLmpmshd">
    update xyqb_repay_plan_lmpmshd
    set psPerdNo = #{psPerdNo,jdbcType=VARCHAR},
      psDueDt = #{psDueDt,jdbcType=VARCHAR},
      psPrcpAmt = #{psPrcpAmt,jdbcType=DECIMAL},
      psNormInt = #{psNormInt,jdbcType=DECIMAL},
      psOdIntAmt = #{psOdIntAmt,jdbcType=DECIMAL},
      psCommOdInt = #{psCommOdInt,jdbcType=DECIMAL},
      psFeeAmt = #{psFeeAmt,jdbcType=DECIMAL},
      setlPrcp = #{setlPrcp,jdbcType=DECIMAL},
      setlNormInt = #{setlNormInt,jdbcType=DECIMAL},
      setlOdIntAmt = #{setlOdIntAmt,jdbcType=DECIMAL},
      setlCommOdInt = #{setlCommOdInt,jdbcType=DECIMAL},
      setlFeeAmt = #{setlFeeAmt,jdbcType=DECIMAL},
      setlInd = #{setlInd,jdbcType=VARCHAR},
      psOdInd = #{psOdInd,jdbcType=VARCHAR},
      lastSetlDt = #{lastSetlDt,jdbcType=VARCHAR},
      psIntRate = #{psIntRate,jdbcType=DECIMAL},
      psOdIntRate = #{psOdIntRate,jdbcType=DECIMAL},
      psRemPrcp = #{psRemPrcp,jdbcType=DECIMAL},
      acctFeeAmt = #{acctFeeAmt,jdbcType=DECIMAL},
      setlAcctFeeAmt = #{setlAcctFeeAmt,jdbcType=DECIMAL},
      penalFeeAmt = #{penalFeeAmt,jdbcType=DECIMAL},
      setlPenalFeeAmt = #{setlPenalFeeAmt,jdbcType=DECIMAL},
      lateFeeAmt = #{lateFeeAmt,jdbcType=DECIMAL},
      setlLateFeeAmt = #{setlLateFeeAmt,jdbcType=DECIMAL},
      psInstmAmt = #{psInstmAmt,jdbcType=DECIMAL},
      advanceFeeAmt = #{advanceFeeAmt,jdbcType=DECIMAL},
      setlAdvanceFeeAmt = #{setlAdvanceFeeAmt,jdbcType=DECIMAL},
      psWvNmInt = #{psWvNmInt,jdbcType=DECIMAL},
      psWvOdInt = #{psWvOdInt,jdbcType=DECIMAL},
      psWvCommInt = #{psWvCommInt,jdbcType=DECIMAL},
      plan_result_id = #{plan_result_id,jdbcType=VARCHAR},
      creation_date = #{creation_date,jdbcType=TIMESTAMP},
      update_date = #{update_date,jdbcType=TIMESTAMP},
      created_by = #{created_by,jdbcType=VARCHAR},
      updated_by = #{updated_by,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>