<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marvels.dao.XyqbFileUploadDetailMapper">
  <resultMap id="BaseResultMap" type="com.marvels.dto.hexj.entity.XyqbFileUploadDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="fileoper" jdbcType="VARCHAR" property="fileoper" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="file_uuid" jdbcType="VARCHAR" property="fileUuid" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="appno" jdbcType="VARCHAR" property="appno" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, filename, fileoper, file_type, file, md5, file_uuid, creation_date, appno
  </sql>
  <select id="selectByExample" parameterType="com.marvels.dto.hexj.entity.XyqbFileUploadDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xyqb_file_upload_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyqb_file_upload_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyqb_file_upload_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.marvels.dto.hexj.entity.XyqbFileUploadDetailExample">
    delete from xyqb_file_upload_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.marvels.dto.hexj.entity.XyqbFileUploadDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xyqb_file_upload_detail (filename, fileoper, file_type, 
      file, md5, file_uuid, 
      creation_date, appno)
    values (#{filename,jdbcType=VARCHAR}, #{fileoper,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{file,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR}, #{fileUuid,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{appno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.marvels.dto.hexj.entity.XyqbFileUploadDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xyqb_file_upload_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filename != null">
        filename,
      </if>
      <if test="fileoper != null">
        fileoper,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="file != null">
        file,
      </if>
      <if test="md5 != null">
        md5,
      </if>
      <if test="fileUuid != null">
        file_uuid,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="appno != null">
        appno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileoper != null">
        #{fileoper,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="file != null">
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="fileUuid != null">
        #{fileUuid,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appno != null">
        #{appno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.marvels.dto.hexj.entity.XyqbFileUploadDetailExample" resultType="java.lang.Long">
    select count(*) from xyqb_file_upload_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xyqb_file_upload_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null">
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.fileoper != null">
        fileoper = #{record.fileoper,jdbcType=VARCHAR},
      </if>
      <if test="record.fileType != null">
        file_type = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.file != null">
        file = #{record.file,jdbcType=VARCHAR},
      </if>
      <if test="record.md5 != null">
        md5 = #{record.md5,jdbcType=VARCHAR},
      </if>
      <if test="record.fileUuid != null">
        file_uuid = #{record.fileUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.creationDate != null">
        creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appno != null">
        appno = #{record.appno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xyqb_file_upload_detail
    set id = #{record.id,jdbcType=INTEGER},
      filename = #{record.filename,jdbcType=VARCHAR},
      fileoper = #{record.fileoper,jdbcType=VARCHAR},
      file_type = #{record.fileType,jdbcType=VARCHAR},
      file = #{record.file,jdbcType=VARCHAR},
      md5 = #{record.md5,jdbcType=VARCHAR},
      file_uuid = #{record.fileUuid,jdbcType=VARCHAR},
      creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      appno = #{record.appno,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.marvels.dto.hexj.entity.XyqbFileUploadDetail">
    update xyqb_file_upload_detail
    <set>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileoper != null">
        fileoper = #{fileoper,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="file != null">
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="fileUuid != null">
        file_uuid = #{fileUuid,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appno != null">
        appno = #{appno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marvels.dto.hexj.entity.XyqbFileUploadDetail">
    update xyqb_file_upload_detail
    set filename = #{filename,jdbcType=VARCHAR},
      fileoper = #{fileoper,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=VARCHAR},
      file_uuid = #{fileUuid,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      appno = #{appno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>