<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marvels.dao.XyqbReqInfoMapper">
  <resultMap id="BaseResultMap" type="com.marvels.dto.common.XyqbReqInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="req_no" jdbcType="VARCHAR" property="reqNo" />
    <result column="ser_no" jdbcType="VARCHAR" property="serNo" />
    <result column="req_json" jdbcType="VARCHAR" property="reqJson" />
    <result column="res_json" jdbcType="VARCHAR" property="resJson" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="interface_no" jdbcType="VARCHAR" property="interfaceNo" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, req_no, ser_no, req_json, res_json, created_by, created_date, updated_by, updated_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyqb_req_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from xyqb_req_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.marvels.dto.common.XyqbReqInfo">
    insert into xyqb_req_info (id, req_no, ser_no, 
      req_json, res_json, created_by, 
      created_date, updated_by, updated_date,interface_no
      )
    values (#{id,jdbcType=BIGINT}, #{reqNo,jdbcType=VARCHAR}, #{serNo,jdbcType=VARCHAR}, 
      #{reqJson,jdbcType=VARCHAR}, #{resJson,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP},#{interfaceNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.marvels.dto.common.XyqbReqInfo">
    insert into xyqb_req_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reqNo != null">
        req_no,
      </if>
      <if test="serNo != null">
        ser_no,
      </if>
      <if test="interfaceNo != null">
        interface_no,
      </if>
      <if test="reqJson != null">
        req_json,
      </if>
      <if test="resJson != null">
        res_json,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedDate != null">
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="reqNo != null">
        #{reqNo,jdbcType=VARCHAR},
      </if>
      <if test="serNo != null">
        #{serNo,jdbcType=VARCHAR},
      </if>
      <if test="interfaceNo != null">
        #{interfaceNo,jdbcType=VARCHAR},
      </if>
      <if test="reqJson != null">
        #{reqJson,jdbcType=VARCHAR},
      </if>
      <if test="resJson != null">
        #{resJson,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.marvels.dto.common.XyqbReqInfo">
    update xyqb_req_info
    <set>
      <if test="reqNo != null">
        req_no = #{reqNo,jdbcType=VARCHAR},
      </if>
      <if test="serNo != null">
        ser_no = #{serNo,jdbcType=VARCHAR},
      </if>
      <if test="reqJson != null">
        req_json = #{reqJson,jdbcType=VARCHAR},
      </if>
      <if test="resJson != null">
        res_json = #{resJson,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marvels.dto.common.XyqbReqInfo">
    update xyqb_req_info
    set req_no = #{reqNo,jdbcType=VARCHAR},
      ser_no = #{serNo,jdbcType=VARCHAR},
      req_json = #{reqJson,jdbcType=VARCHAR},
      res_json = #{resJson,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>